.idea
*.swp
*.DS_Store
*.*~
*.log
.env
docker-compose.override.yml
/wp-content/plugins/akismet
/wp-content/plugins/index.php
/wp-content/plugins/hello.php
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/twenty*
