.idea
*.swp
*.DS_Store
*.*~
*.log
.env
/.htaccess
/docker-compose.override.yml

/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config-app-1.php
/wp-config-app-2.php
/wp-content/db.php
/wp-content/index.php
/wp-content/languages
/wp-content/tsml-cache-*
/wp-content/plugins/akismet
/wp-content/plugins/wp-crontrol
/wp-content/plugins/disable-comments
/wp-content/plugins/query-monitor
/wp-content/plugins/redirection
/wp-content/plugins/index.php
/wp-content/plugins/hello.php
/wp-content/themes/index.php
/wp-content/themes/twenty*
/wp-content/themes/weaver-xtreme
/wp-content/upgrade
/wp-content/uploads
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
