.idea
*.swp
*.DS_Store
*.*~
*.log
.env
/.htaccess
docker-compose.override.yml
/wp-config-app-1.php
/wp-config-app-2.php
/wp-content/tsml-cache-*
/wp-content/plugins/akismet
/wp-content/plugins/wp-crontrol
/wp-content/plugins/disable-comments
/wp-content/plugins/redirection
/wp-content/plugins/index.php
/wp-content/plugins/hello.php
/wp-content/themes/index.php
/wp-content/themes/twenty*
