#customize-controls .control-section-wptrt-button .accordion-section-title:hover,
#customize-controls .control-section-wptrt-button .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-wptrt-button .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	background: #689e5b;
    color: #fff;
    box-shadow: none;
    border: none;
	font-size: 80%;
    padding: 0 5px;
	line-height: 26px;
}
#accordion-section-cresta_zenzero_buy_pro h3 {
	background-color: #000000 !important;
	color: #ffffff !important;
}
li#accordion-section-cresta_zenzero_buy_pro h3:before {
	font-family: dashicons;
    content: "\f488";
    padding-right: 0.5em;
    float: left;
}